h2{
    color: darkblue;
    font-size: 36px;

}
.login_form{
    background-color: rgb(172, 172, 230);
    width: 50%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}
label{
    display: inline-block;
    width: 75%;
    text-align: start;
    font-size: 24px;
    color: darkblue;
}

input[type="email"], input[type="password"]{
    width: 75%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    width: 75%;
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    
  }
input:hover[type = "submit"]{
    opacity: 0.8;
}